body{
    width: 100vw;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
}

h1{
    text-align: center;
    font-size: 37px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#reg-form{
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #a9e2ff;
}

#reg-form label{
    display: block;
    font-size: 20px;
}

#reg-form input,
#reg-form select{
    width: 100%;
    height: 30px;
    font-size: 15px;
    
}